button {
    background:#0185EA;
    border: none;
    cursor: pointer; 
    font-size: 24px;
    border-radius: 25px;
}

input {
    background: #9cc8e9;
    border-radius: 15px;
    border: none;
    color: white;
    box-shadow: none;
    cursor: pointer; 
    font-size: 24px;
}

::placeholder {
    color: white;
}