label {
    padding-right: 15px;
    font-size: 22px;
}

button {
    font-weight: bold;
    max-width: 150px;
    background-color: #0264af;
    border-radius: 10px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }