input {
  width: 100%;
  max-width: 250px;
  padding: 12px;
  margin: 8px 50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

label {
  margin: 20px 0px;
  display: inline-block;
}

button:hover {
  opacity: 0.8;
}