
input {
  width: 100%;
  max-width: 250px;
  padding: 12px;
  margin: 8px 50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

label {
  margin: 20px 0px;
  display: inline-block;
}

button {
  font-weight: bold;
  max-width: 150px;
  background-color: #0264af;
  border-radius: 10px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
