<div *ngIf="user.rights > 0">
    <div class="bd">
        <form>
            <div>
                <label class="font-top" for="title">Titulka</label>
                <input required ngModel name="title" #title="ngModel" (change)="changeTitle(title)" id="title" type="text">
            </div>
            <div>
                <label class="font-top" for="text">Článok</label>
                <textarea required ngModel name="text" #text="ngModel" (change)="changeText(text)" id="text"></textarea>
            </div>
            <div>
                <label class="font-top" for="img">Obrázok</label>
                <div class="imgBox">
                    <img *ngIf="imgNews" [src]="imgNews" >
                </div>
                <input id="img" type="file" (change)="changeImg($event)">
            </div>
            <button class="btnSave btn font-top" (click)="saveImg()">save</button>
        </form>
    </div>
    
</div>
<app-news class="" *ngFor="let item of news" [data]="item"></app-news>

