/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0px;
}

.font-top {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.lbl {
    padding-right: 15px;
    font-size: 22px;
}

.btn {
    border: 2px solid #0264af;
    border-radius: 10px;
    background: #0264af;
    padding: 5px;
    color: white;
}

.btt {
    font-weight: bold;
    max-width: 150px;
    background-color: #0264af;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

.btn:hover {
    background-color: #0082e6;
}

.mid-box {
    display: block;
    width: 75%; 
    height: max-content;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    // background: rgba(92, 91, 91, 0.815);
    background: #1F2129;
    color: #83848F; 
   
}

.mgt25 {
    margin-top: 25px;
}

.bd {
    background-color: rgba(255,255,255, 0.1);
    color: rgb(197, 196, 196); 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 25px 0px;
    margin-bottom: 25px;
}


.delete{
    color: #B42D30;
    right: 15px;
}

.edit {
    color:#44D2CF;
    left: 15px;
}

.editor {
    border-radius: 5px;
    border-width: 0px;
}

.content {
    width: 700px;
    max-width: 95%;
    margin: 5px auto;
}

.options {
    display: block;
    position: absolute;
    font-size: 35px;
    outline: none;
    top: 10px;
    cursor: pointer;
}

.btnSave {
    display: block;
    background-color: #0264af;
}

.btnN {
    background-color: #0264af;
}

h1 {
    font-size: 30px;
}

p {
    text-align: left;
    font-size: 25px;
}

@media (max-width: 768px) {
    .mid-box {
        width: 85%; 

    }

    p {
        font-size: 20px;
    }

    .font-top {
        font-size: 25px;
    }

    h1 {
        font-size: 20px;
    }

    
}