/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0px;
}

.font-top {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.lbl {
    padding-right: 15px;
    font-size: 22px;
}

.input-acc {
    width: 100%;
    max-width: 250px;
    padding: 12px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }

.btn {
    color: #C5C4C4;
    background-color: #3E3F42;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 5px;
    background-image: linear-gradient(to right, transparent 50%, #0264af 50%);
    background-size: 200% 100%;
    background-position: 0%;
    transition: 0.3s;
    border: 2px solid #C5C4C4;
    border-radius: 10px;
//     background: #0264af;
//     padding: 5px;
//     color: white;
}

.btn:hover {
    background-position: 100%;
    border-color: #0264af;
    color: white;
    cursor: pointer;
}

// .btt {
//     font-weight: bold;
//     max-width: 150px;
//     background-color: #0264af;
//     border-radius: 10px;
//     color: #FFFFFF;
//     padding: 14px 20px;
//     margin: 8px 0;
//     border: none;
//     cursor: pointer;
//     width: 100%;
//   }

.mid-box {
    width: 75%; 
    margin: auto;
    padding: 25px;
    background: #3e3f42;
    color: rgb(197, 196, 196); 
    min-height: calc(100vh - 25px);
    height: auto;
}

.mgt25 {
    margin-top: 25px;
}

.bd {
    
    padding: 25px 0px;
    margin-bottom: 25px;
}


.delete{
    color: #B42D30;
    right: 25px;
}

.edit {
    color:#44D2CF;
    left: 25px;
}

.editor {
    border-radius: 5px;
    border-width: 0px;
}

.content {
    width: 700px;
    max-width: 95%;
    margin: 5px auto;
}

.options {
    display: block;
    position: absolute;
    font-size: 35px;
    outline: none;
    top: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.background {
    position: relative;
    padding: 5px;  
    margin-bottom: 25px;
    margin-top: 25px;
    background: rgba(0,0,0,0.1);
    cursor: default;
}

// .btnSave {
//     display: block;
//     background-color: #0264af;
// }

// .btnN {
//     background-color: #0264af;
// }

input {
    max-width: calc(100% - 50px);
}

h1 {
    font-size: 30px;
}

p {
    text-align: left;
    font-size: 25px;
}

@media (max-width: 768px) {
    .mid-box {
        width: calc(100% - 20px); 
        padding: 25px 10px;
    }

    p {
        font-size: 20px;
    }

    .font-top {
        font-size: 25px;
    }

    h1 {
        font-size: 25px;
    }

    
}