/* You can add global styles to this file, and also import other style files */
p {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background: #CCCCCC;
}

input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}
  
  
button:hover {
    opacity: 0.8;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}


.container {
    margin-top: 10%;
    background: gray;
    padding-top: 20px;
    padding-bottom: 20px;
  }