.card {
    display: inline-block;
    position: relative;
    width: calc(32% - 20px);
    height: 250px;
    margin: 10px;
    text-align: center;
    transition: 0.4s;
    border-radius: 5px;
    background-color: #2A2D2E;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px 0px #CCC, -5px 0px 10px 0px #CCC;
}

.card:hover .img-text {
    background: rgba(0,0,0,0.8);
    color: white;
}

.card:hover{
    background: rgba(0,0,0,0.8);
}

.img-card {
    border-radius: 5px;
    max-width: 100%;
    // max-height: 100%;
    text-transform: uppercase;
}

.img-text {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -10px;
    left: 0px;
    transition: 0.4s;
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
        height: 200px;
    }

    .img-text {
        bottom: 0px;
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        height: 200px;
    }

    .img-text {
        bottom: 0px;
    }
}