.card {
    display: inline-block;
    width: calc(32% - 20px);
    margin: 10px;
    text-align: left;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 5px 10px 10px 0px #CCC, -5px 10px 10px 0px #CCC;
}

.img-card {
    border-radius: 5px;
    width: 100%;
}

.img-text {
    color: white;
    position: absolute;

}

.internal {
    // position: relative;
}