.button-bottom {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 15px;
    background-color: rgb(163, 158, 158);
}

:visited {
    color: white;
}

:link {
    color: white;
}