<nav class="col-24 menu font-top">
    <div class=" col-16 col-md-5">
        <a class="logo" href="/home">FILMOTÉKA</a>
    </div>

    <div (click)= "show()" class="d-md-none col-8 col-md-19 text-right bars">
        <fa-icon class="logo" [icon]="faIconBars"></fa-icon>
    </div>

    <div *ngIf="showMenu || winWidth >= 768" class="col-24 col-md-19">
        <ul>
            <li>
                <a routerLink= "/home" > 
                    <fa-icon [icon]="faIconHome"></fa-icon>
                    Domov
                </a>
            </li>  
            <li>
                <a routerLink= "/filmy">
                    <fa-icon [icon]="faIconReview"></fa-icon>
                    Recenzie
                </a>
            </li>

            <!-- <li>
                <app-search></app-search>
            </li>  -->
   
            <li *ngIf="!user.logedIn">
                <a routerLink = "/sign-up" >
                    <fa-icon [icon]="faIconSignUp"></fa-icon>
                    Registrácia
                </a>
            </li>
            <li *ngIf="!user.logedIn">
                <a routerLink = "/login" >
                    <fa-icon [icon]="faIconSignIn"></fa-icon>
                    Prihlásiť
                </a>
            </li>
                           
            <li *ngIf="user.logedIn">
                <a >Prihlásený</a>
            </li>
            <li *ngIf="user.logedIn" >
                <a routerLink = "/profil">Profil</a>
            </li>
            <li *ngIf="user.logedIn">
                <a (click)= "logout()">
                    <fa-icon [icon]="faIconSignOut"></fa-icon>
                    Odhlásiť
                </a>
            </li>

        </ul>
    </div>
</nav>