<nav class="col-24 menu font-top">
    <div class=" col-5">
        <a class="logo" href="/home">FILMOTÉKA</a>
    </div>

    <div *ngIf="user.rights > 0" (click)= "show()" class="d-md-none col-19 text-right bars">
        <fa-icon class="logo" [icon]="faIconBars"></fa-icon>
    </div>

    <div *ngIf="showMenu || winWidth >= 768" class="col-23 col-md-19">
        <ul>
            <li>
                <a class="" routerLink= "/home" >DOMOV</a>
            </li>  
            <li>
                <a routerLink= "/filmy">RECENZIE</a>
            </li>

            <li>
                <app-search></app-search>
            </li> 
   
            <li *ngIf="!user.logedIn">
                <a routerLink = "/sign-up" >REGISTRÁCIA</a>
            </li>
            <li *ngIf="!user.logedIn">
                <a routerLink = "/login" >
                    <fa-icon id="sign-in" [icon]="faIconSignIn"></fa-icon>
                </a>
            </li>
                           
            <li *ngIf="user.logedIn">
                <a id="logedin" >PRIHLASENÝ</a>
            </li>
            <li *ngIf="user.logedIn" >
                <a routerLink = "/profil">PROFIL</a>
            </li>
            <li *ngIf="user.logedIn">
                <a (click)= "logout()">
                    <fa-icon id="sign-out" [icon]="faIconSignOut"></fa-icon>
                </a>
            </li>

        </ul>
    </div>
</nav>