<div class="text-center register box">
    <h1>Registrácia</h1>

        <label for="usermeno"><b>Meno</b></label>
        <input type="text" placeholder="Zadaj meno" name="usermeno" [(ngModel)]="userMeno" required >
    
        <label for="heslo"><b>Heslo</b></label>
        <input type="password" placeholder="Zadaj heslo" name="heslo" [(ngModel)]="heslo" required>    
    
        <label for="reHeslo"><b>Zopakované heslo</b></label>
        <input type="password" placeholder="Zadaj znovu heslo" name="reHeslo" [(ngModel)]="reHeslo" required >
    
        <label for="email"><b>Meno</b></label>
        <input type="email" placeholder="Zadaj email" name="mail" [(ngModel)]="email" required >    

        <button (click)="register()" >Registruj</button>
</div>