<div class="bd">
    <div *ngIf="!registered" class="text-center container">
        <h1>Registrácia</h1>
        <div class="col-24">
            <div>
                <div class="col-24 col-md-11 text-center text-md-right">
                    <label class="col-10" for="userName"><b>Meno</b></label>
                </div>
                <div class="col-24 col-md-13 text-center text-md-left">
                    <input type="text" placeholder="Zadaj meno" name="userName" [(ngModel)]="userName" required >
                </div>
            </div>
    
            <div class="col-24">
                <div class="col-24 col-md-11 text-center text-md-right">
                    <label class="col-10" for="pswd"><b>Heslo</b></label>
                </div>
                <div class="col-24 col-md-13 text-center text-md-left">
                    <input type="password" placeholder="Zadaj heslo" name="pswd" [(ngModel)]="pswd" required>    
                </div>
            </div>
    
            <div class="col-24">
                <div class="col-24 col-md-11 text-center text-md-right">
                    <label class="col-10" for="rePswd"><b>Zopakuj heslo</b></label>
                </div>
                <div class="col-24 col-md-13 text-center text-md-left">
                    <input type="password" placeholder="Zadaj znovu heslo" name="rePswd" [(ngModel)]="rePswd" required >
                </div>
            </div>
    
            <div class="col-24">
                <div class="col-24 col-md-11 text-center text-md-right">
                    <label class="col-10" for="email"><b>Email</b></label>
                </div>
                <div class="col-24 col-md-13 text-center text-md-left">
                    <input type="email" placeholder="Zadaj email" name="mail" [(ngModel)]="email" required >    
                </div>
            </div>
        </div>
        <div>
            <button class="btnN" (click)="register()" >Registruj</button>
        </div>
    </div>
    
    <div *ngIf="registered" class="text-center container">
        <h1>Úspešne ste sa registroval. </h1>
        <div>
            <button class="btnN" (click)="newReg()" >Nová registrácia</button>
        </div>
    
    </div>
</div>
