.news {
    position: relative;
    padding: 5px;  
    margin-bottom: 25px;
    margin-top: 25px;
    background: rgba(0,0,0,0.1);
    cursor: default;
}

.edit {
    color:#44D2CF;
    left: 15px;
}

.delete{
    color: #B42D30;
    right: 15px;
}

.editor {
    border-radius: 5px;
    border-width: 0px;
    height: fit-content;
}

.edit-divider {
    border-bottom: solid;
    border-width: 2px;
}

.editTitle {
    width: 100%;
    height: 50px;
}

.editText {
    width: 100%;
    height: 300px;
}

.mgt {
    margin-top: 50px;
    // margin: 50px 25px;
    min-height: 300px;
}



.img {
    overflow: hidden;
    max-width: 30%;
    height: auto;
    padding: 10px 10px 0px 10px;
}

.img-show {
    max-width: 100%;
}

.floated {
    float: left;
}

.text-spacer {
    padding: 10px;
}

label {
    display: block;
}

form {
    width: 696px;
    max-width: 95%;
    margin: 50px auto;
}

h1 {
    padding: 10px 0px;
}

h1, p {
    margin: 0px;
}

@media (max-width: 768px) {
    .img {
        max-width: calc(100% - 20px);
    }

    .floated {
        float: none;
    }

    .mgt {
        margin: 50px 5px
    }

    #title {
        width: 100%;
    }

    h1 {
        padding: 10px;
        
    }
}


