.news {
    position: relative;
    padding: 5px;  
    margin-bottom: 25px;
    margin-top: 25px;
}

.edit {
    color:#44D2CF;
    left: 15px;
}

.editor {
    border-radius: 5px;
    border-width: 0px;
}

.editTitle {
    width: 100%;
    height: 50px;
}

.editText {
    width: 100%;
    height: 300px;
}

.delete{
    color: #B42D30;
    right: 15px;
}


.btnSave {
    display: block;
    background-color: #0264af;
}

.mgt {
    margin: 50px 25px;
    min-height: 300px;
}

.edit-w {
    border-bottom: solid;
    border-width: 2px;
}

.mgt div {
    display: block;
    min-height: auto;
}

.img {
    overflow: hidden;
    max-width: 30%;
    height: auto;
}

.img-show {
    max-width: 100%;
}

.floated {
    float: left;
}

.floated h1 {
    max-width: 70%;
}

label {
    display: block;
}

form {
    width: 696px;
    max-width: 95%;
    margin: 50px auto;
}

div button {
    margin: 25px auto 0px;
}

@media (max-width: 768px) {
    .img {
        max-width: 100%;
    }

    .floated {
        float: none;
    }

    .mgt {
        margin: 50px 5px
    }

    #title {
        width: 100%;
    }
}


