<div class="rev bd background"> 
    <div (click)= "editShow()" *ngIf="user.rights > 0" class="edit options">
        <fa-icon [icon]="faEdit"></fa-icon>
    </div>

    <div (click)= "delRev()" *ngIf="user.rights > 0" class="delete options"> 
        <fa-icon [icon]="faDelete"></fa-icon>
    </div>

    <div class="editBorder" *ngIf="showEdit">
        <div class="center">
            <h1>Upraviť článok</h1>
        </div>
        <form class="editor-form">
            <div class="mgt25">
                <label class="font-top " for="name">Nazov</label>
                <textarea [(ngModel)]="name" class="editor editName" name="name" id="name" type="text"></textarea>    
            </div>
            <div>
                <label class="font-top" for="text">Recenzia</label>
                <textarea [(ngModel)]="text" class="editor editText" name="text" id="text"></textarea>
            </div>
            <div>
                <label class="font-top" for="img">Obrázky</label>
                
                <input id="imgs" multiple type="file" (change)="changeImg($event)">
                <div class="imgBox">
                    <img *ngFor="let item of imgs" [src]="item" class="imgEdit">
                </div>
            </div>
            <div class="center">
                <button class="btnSave btn font-top mgt25" (click)="saveChanged()">save</button>
            </div>
        </form>
    </div>

    <!-- <img class="img" [src]="data.img" > -->
    <div class="mgt25 btm-bd">
        <div class="btm-bd">
            <div class="center">
                <h1>{{name}}</h1>
            </div>
            <div *ngIf="showImgs">
                <app-gallery [data]="imgs"></app-gallery>
            </div>
            <div>
                <p *ngFor="let item of textP" class="text-just">{{item}}<br></p>
            </div>
        </div>
       
        <!-- <p>{{text}}</p> -->

        <div class="actor-whole">
            <div class="center">
                <h1>Herci</h1>
            </div>

            <div>
                <div class="font-top mgt10 center">
                    <label class="inl-b" >
                        Pridať herca
                        <div (click)= "showAddActor()" class="options-actor inl-b">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </div>
                    </label>
                    
                </div>

                <div *ngIf="showAddActorOption" class="center">
                    <div class="font-top mgt10">
                        <textarea [(ngModel)]="nameActor" class="editor actor" name="nameActor" id="nameActor" type="text" placeholder="Meno herca"></textarea>
                    </div>
                    <div class="font-top mgt10">
                        <textarea [(ngModel)]="roleActor" class="editor actor" name="roleActor" id="roleActor" type="text" placeholder="Meno hranej postavy"></textarea>
                    </div>
                    
                    <div class="font-top">
                        <label class="font-top">Fotka herca</label>                            
                        <div class="imgActorBox mgt10">
                            <img *ngIf="imgActor" [src]="imgActor" class="imgActor">
                        </div>
                        <input (change)="changeActorImg($event)" id="img" type="file" multiple>
                    </div>

                    <div class="center">
                        <button class="btnSave btn font-top btn-mid mgt25" (click)="saveActor()">Pridať postavu</button>
                    </div>
                </div>
            </div>

            <div class="center">
                <app-actor *ngFor="let item of actors" [data]="item" [reloadMethod]="reloadComm"></app-actor>
            </div>    
        </div>
    </div>

    
    <div class="comments-whole">
        <div class="center">
            <h1>Komenty</h1>
        </div>

        <form>
            <textarea [(ngModel)]="newComment" class="comments-entry" name="textRev" id="review" rows="10"></textarea>

            <div class="center">
                <button class="btnSave btn font-top btn-mid mgt25" (click)="saveComment()">komentovať</button>
            </div>
        </form>
        <app-comment *ngFor="let item of comments" [delMethod]="deleteComm" [reloadMethod]="reloadComm" [data]="item"></app-comment>

        <!-- <p *ngFor="let item of comments">{{item.text}}<br></p> -->

    </div>
</div>
