.imgBox {
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    max-height: 300px;
    background-color: gray;
    overflow: hidden;
}

.btn-mid {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

label {
    display: block;
    text-align: left;
}

.new-rev-text, img {
    width: 100%;
}

@media (max-width: 768px) {
    form, img, textarea{
        width: 95%;
    }
    
    .text {
        min-height: 150px;
    }

    .options {
        top: 12px;
    }
}
