<div>
    <div class="col-2 d-md-none bar-decor text-right">
        <fa-icon id="hamburger" [icon]="faIconBurger"></fa-icon>
    </div>
    <div class="d-none d-md-inline-block"> 
        
    </div>
</div>
<div class="nav-menu" id="navMenu">
    <a routerLink= "/home" >Domov</a>
    <a routerLink= "/filmy">Filmy</a>
    <a routerLink= "/serialy" >Serialy</a>

    <a *ngIf="!user.logedIn" routerLink = "/sign-up" >
        <fa-icon id="sign-in" [icon]="faIconSignIn"></fa-icon>
    </a>

    <a *ngIf="!user.logedIn" routerLink = "/login" >Login</a>
    <a *ngIf="user.logedIn" id="logedin">Prihlásený</a>
    <a *ngIf="user.logedIn" routerLink = "/profil">Profil</a>

    <button (click)= "logout()" *ngIf="user.logedIn">
        <fa-icon id="sign-out" [icon]="faIconSignOut"></fa-icon>
    </button>

    <a class="icon" (click)= "openList()">
        <fa-icon id="menu-burger" [icon]="faIconBurger"></fa-icon>
    </a>
</div>